{
    "workflows": [
        {
            "file": "nateraw_vit_age_classifier_text_qnn.json",
            "templateName": "nateraw_vit_age_classifier_text_qnn"
        },
        {
            "file": "nateraw_vit_age_classifier_vision_qnn.json",
            "templateName": "nateraw_vit_age_classifier_vision_qnn"
        },
        {
            "file": "nateraw_vit_age_classifier_qdq_amd.json",
            "templateName": "nateraw_vit_age_classifier_qdq_amd"
        },
        {
            "file": "nateraw_vit_age_classifier_ov.json",
            "templateName": "nateraw_vit_age_classifier_ov"
        },
        {
            "file": "nateraw_vit_age_classifier_trtrtx.json",
            "templateName": "nateraw_vit_age_classifier_trtrtx"
        },
        {
            "file": "nateraw_vit_age_classifier_dml.json",
            "templateName": "nateraw_vit_age_classifier_dml"
        }
    ],
    "modelInfo": {
        "id": "huggingface/nateraw/vit-age-classifier",
        "version": 1
    }
}