{
    "copies": [
        {
            "src": "WinKawaks_vit_tiny_patch16_224_qdq_amd.json.config",
            "dst": "WinKawaks_vit_tiny_patch16_224_qdq_qnn.json.config",
            "replacements": [
                {
                    "find": "vit/vit_qdq_vitis_ai.json",
                    "replace": "vit/vit_qdq.json"
                },
                {
                    "find": "Convert to AMD NPU",
                    "replace": "Convert to Qualcomm NPU"
                }
            ]
        },
        {
            "src": "inference_sample.ipynb",
            "dst": "WinKawaks_vit_tiny_patch16_224_dml_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "QNNExecutionProvider",
                    "replace": "DmlExecutionProvider"
                },
                {
                    "find": "input_name: image",
                    "replace": "input_name: image.astype(np.float16)"
                }
            ]
        },
        {
            "src": "WinKawaks_vit_tiny_patch16_224_dml_inference_sample.ipynb",
            "dst": "WinKawaks_vit_tiny_patch16_224_trtrtx_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "DmlExecutionProvider",
                    "replace": "NvTensorRTRTXExecutionProvider"
                }
            ]
        }
    ]
}
