{
    "workflows": [
        {
            "file": "WinKawaks_vit_tiny_patch16_224_text_qnn.json",
            "templateName": "WinKawaks_vit_tiny_patch16_224_text_qnn"
        },
        {
            "file": "WinKawaks_vit_tiny_patch16_224_vision_qnn.json",
            "templateName": "WinKawaks_vit_tiny_patch16_224_vision_qnn"
        },
        {
            "file": "WinKawaks_vit_tiny_patch16_224_qdq_amd.json",
            "templateName": "WinKawaks_vit_tiny_patch16_224_qdq_amd"
        },
        {
            "file": "WinKawaks_vit_tiny_patch16_224_ov.json",
            "templateName": "WinKawaks_vit_tiny_patch16_224_ov"
        },
        {
            "file": "WinKawaks_vit_tiny_patch16_224_trtrtx.json",
            "templateName": "WinKawaks_vit_tiny_patch16_224_trtrtx"
        },
        {
            "file": "WinKawaks_vit_tiny_patch16_224_dml.json",
            "templateName": "WinKawaks_vit_tiny_patch16_224_dml"
        }
    ],
    "modelInfo": {
        "id": "huggingface/WinKawaks/vit-tiny-patch16-224",
        "version": 1
    }
}